<!DOCTYPE html>
<html>
<head>
    <title>About me</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'upload' %}">Upload</a></li>
                <li><a href="{% url 'rules' %}">Rules</a></li>
            </ul>
        </nav>
    </header>
    <section>
    <h2>About me</h2>
    <p>I'm a 4th year student at ZNU, studying software engineering.</p>
</section>

</body>
</html>